/Library
/Logs
.vs/GameAlgoProject/FileContentIndex/316dc64b-b3fe-4d22-bdfd-14d10e8c8b2e.vsidx
.vs/GameAlgoProject/FileContentIndex/3b37f53c-0a81-4cf1-b532-b39c9691b399.vsidx
.vs/GameAlgoProject/FileContentIndex/8b247e4f-94bc-4e6a-a77c-e329ccf57b19.vsidx
